body {
    margin: 0;
    font-family: 'PT Mono', monospace;
}

h1,
h2 {
    font-family: 'PT Mono', monospace;
    text-align: center;
    margin: 0;
    padding: 30px 10px 20px 10px;
    color: #110835;
}

h1 {
    font-size: 60px;
}

h3 {
    margin: 0;

}

header {
    background-color: #88D9E6;
}

.nabidka {
    background-color: #FFD9CE;
    padding: 5%;
}

.nabidka_svacin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 100px); */
    grid-template-rows: repeat(3, 250px);
    column-gap: 20px;
    row-gap: 20px;
}

.svacinka img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.kontakt {
    background-color: #8B8BAE;
    text-align: center;
    padding: 20px 40px;
}

.button {
    background-color: #FFD9CE;
    border: none;
    color: #110835;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover,
:active,
:focus {
    border: 1px solid #fd9e84;
}

footer a {
    color: #110835;
    text-decoration: none;
}

footer {
    background-color: #88D9E6;
    font-family: 'PT Mono', monospace;
    text-align: center;
    padding: 7px;
}

.svacinka {
    background-color: #88D9E6;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.svacinka img:hover {
    opacity: 0;
    transition: 0.3s;
}

    .popis {
        background-color: #88D9E6;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }

    h4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .svacinka:hover .popis {
        opacity: 1;
       

    }

    @media screen and (max-width: 800px) {
        .nabidka_svacin {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, 200px);
        }
    }

    @media screen and (max-width: 400px) {
        .nabidka_svacin {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(10, 200px);
        }

        h1 {
            font-size: 40px;
        }
    }